div.map{
    width:12vw;
    height:30px;
    position: relative;
    left:50px;
    top:10px;
}
div.map>div.mshow{
    width:99.4vw;
    height:100vh;
    background-color: rgba(50, 50, 50, 0.479);
    position:absolute;
    top:-122px;
    left:-26px;
    display: none;
    z-index:2;
}
div.map>svg:nth-of-type(1){
    position: absolute;
    top:14px;
    left:193px;
    z-index:1;
}
#show{
    display: none;
}
div.map>#show:checked~div.mshow{
    display: inline-block;
}
label[for = show]{
    cursor: pointer;
    font-size:14px;
    position: absolute;
    top:14px;
    z-index:1;
}
div.map>#show:checked~label[for = hide]{
    display:inline-block;
}
#hide{
    display: none;
}
label[for = hide]{
    cursor: pointer;
    font-size: 13px;
    width: 3%;
    height:10px;
    display:none;
    position: absolute;
    top:-40px;
    left:580px;
    z-index:3;
}
label[for = show]~input{
    font-size: 13px;
    position: absolute;
    top:147px;
    left:190px;
    z-index:3;
}
/*div.mshow*/
div.mshow{
    position:relative;
}

div.mshow>ul{
    list-style: none;
    width:30%;
    height:600px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top:69px;
    right:520px;
    border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
    cursor: pointer;
}
/*select city*/
div.mshow>ul>li:nth-of-type(1){
    border-bottom:1px solid #e5e5e6;
    width:27%;
    height:50px;
    margin-right:20px;
    z-index:2;
    position: fixed;
}
/*hover*/
div.mhover{
    width:120%;
    height:44px;
    background-color:rgb(63, 64, 100);
    font-size:12px;
    position:absolute;
    top:40px;
    left:1px;
    display: none;
    border-radius:5px;
}
div.mhover>p{
    color: white;
    position: absolute;
    left:20px;
    line-height:3.5;
}
label[for = show]:hover~div.mhover{
    display: inline-block;
}
div.mshow>ul>li>p{
    position: absolute;
    top:10px;
    margin:10px 20px 0 0;
}
/*auto map*/
div.mshow>ul>div>div{
    width: 100%;
    height:70px;
    color: #1fc0d4;
}
div.mshow>ul>div>div>li{
    position: absolute;
    top:27px;
    right:65px;
}
div.mshow>ul>div>div>svg{
    position: absolute;
    top:27px;
    right:25px;
}
/*div for city*/
div.mshow>ul>div{
    width: 100%;
    height:550px;
    overflow: auto;
    position: absolute;
    bottom:0;
}
/*li city*/
div.mshow>ul>div>li{
    border-bottom:1px solid #e5e5e6;
    color: #3f4064;
    height:45px;
    margin: 10px 15px;
}
div.mshow>ul>div>li:nth-last-of-type(1){
    border: none;
}

ul>div>li>p{
    position: absolute;
    left:23px;
    margin:-20px 20px 0 0;
}